POSTGRES_USER=sopds
POSTGRES_PASSWORD=sopds
POSTGRES_DB=sopds
POSTGRES_HOST=db
POSTGRES_PORT=5432

SOPDS_ROOT_LIB=/library
SOPDS_INPX_ENABLE=False
SOPDS_LANGUAGE=ru-RU
SOPDS_SU_NAME=admin
SOPDS_SU_EMAIL=admin@localhost
SOPDS_SU_PASS=admin
SOPDS_TMBOT_ENABLE=False
SOPDS_TMBOT_TOKEN=fake-token
CONV_LOG=/sopds/opds_catalog/log
VERSION=0.47
